{{- if lookPath "bw" }}
{{- $aws_notes := output "bw" "get" "item" "5d221153-c9e6-4407-8cb6-b3ae01192955" | fromJson -}}
{{- $aws_config := fromIni $aws_notes.notes -}}
{
	"auths": {
		"{{ $aws_config.ECR_REGISTRY }}": {},
		"https://index.docker.io/v1/": {}
	},
{{- else }}
{
	"auths": {
		"https://index.docker.io/v1/": {}
	},
{{- end }}
	"credsStore": "desktop",
	"currentContext": "desktop-linux",
	"plugins": {
		"debug": {
			"hooks": "exec"
		},
		"scout": {
			"hooks": "pull,buildx build"
		}
	},
	"features": {
		"hooks": "true"
	}
}