{
	"auths": {
		"339713173028.dkr.ecr.us-east-1.amazonaws.com": {},
		"590183687853.dkr.ecr.us-east-1.amazonaws.com": {},
		"https://306077209789.dkr.ecr.us-east-1.amazonaws.com": {},
		"https://index.docker.io/v1/": {}
	},
	"credsStore": "desktop",
	"currentContext": "desktop-linux",
	"plugins": {
		"debug": {
			"hooks": "exec"
		},
		"scout": {
			"hooks": "pull,buildx build"
		}
	},
	"features": {
		"hooks": "true"
	}
}